@import "tailwindcss";

body {
  background: #0e1117;
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1a2e;
}

::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 4px;
}
